.job-1,
.job-2,
.job-3 {
  cursor: pointer;
  &:hover {
    background: #63d0df;
    // color: set-text-color($secondary-color);
    color: black;
    span {
      color: set-text-color($secondary-color);
    }
    .companyLink {
      color: set-text-color($primary-color);
    }
  }
}
.job {
  background: lighten($primary-color, 15);
  padding: 0.5rem;
  border: 2.5px solid black;
  border-bottom: $secondary-color 5px solid;

  h3 {
    padding-top: 10px;
  }
  h6 {
    font-size: 0.8rem;
  }
  h3,
  h6 {
    line-height: 0.8rem;
  }
}

// ABOUT DETAILS BELOW (when clicking on Job on about page)
.jobInfo-1,
.jobInfo-2,
.jobInfo-3 {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.94;
  visibility: hidden;
  background: $primary-color;

  &.show {
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }
  .aboutContent {
    display: flex;
    flex-flow: column wrap;
    margin: 0 auto;
    padding: 1.5rem 2.5rem;

    width: 90%;
    height: 100vh;
    overflow: auto;
    display: block;
    background: darken($primary-color, 5);
    transform: translate3d(0, -100%, 0);
    @include easeOut;

    &.show {
      // Slide in from top
      transform: translate3d(0, 0, 0);
    }
  }
}

// MEDIA QUERIES
@media screen and (max-width: 768px) {
  .about-info {
    width: 100%;
    min-height: 100vh;
    padding-bottom: 20px;
    p {
      font-size: 1.2rem;
    }
  }
  .bio-image {
    margin: auto;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: $secondary-color 3px solid;
  }
  .bio {
    font-size: 1.5rem;
    p {
      font-size: 1.05rem;
    }
  }
  .job {
    margin-top: 50px;

    h3 {
      line-height: 1.5rem;
      font-size: 1.1rem;
    }
    h6 {
      font-size: 0.85rem;
    }
    p {
      font-size: 1rem;
    }
  }
}

@media screen and (min-width: 769px) {
  .about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas: "bioimage bio bio" "job1 job2 job3";
    grid-template-columns: repeat(3, 1fr);
  }
  .bio-image {
    grid-area: bioimage;
    margin: auto;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: $secondary-color 3px solid;
  }
  .bio {
    grid-area: bio;
    font-size: 1.5rem;

    p {
      font-size: 1.2rem;
    }
  }
  .job-1 {
    grid-area: job1;
  }
  .job-2 {
    grid-area: job2;
  }
  .job-3 {
    grid-area: job3;
  }
}
