// Widescreens
@include mediaXl {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}

// Desktops & Laptops
@include mediaLg {
  main {
    .lg-heading {
      font-size: 5rem;
    }
  }
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
  .menu-nav {
    justify-content: center;
  }
}

// Tablets & Small Laptops
@include mediaMd {
  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
    h1.lg-heading {
      font-size: 3rem;
    }
    .sm-heading {
      margin-top: 3rem;
    }
  }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }
  .menu-nav {
    height: 67vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
    padding-top: 25px;
  }
  .menu-branding {
    height: 33vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      background: url("../img/portrait.jpg");
      width: 200px;
      height: 200px;
      background-size: cover;
    }
  }
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}
// Smartphones
@include mediaSm {
  main {
    padding: 2rem;
    .lg-heading {
      margin-top: 1rem;
      font-size: 3.5rem;
    }
  }
  h1,
  h2,
  h3 {
    &.sm-heading {
      font-size: 1.3rem;
      margin-bottom: 1rem;
      margin-top: 1.5rem;
    }
  }
  main#home h1 {
    margin-top: 10vh;
  }
  .projects {
    grid-template-columns: 1fr;
  }
}
